body{ 
    background: rgb(93, 224, 196);
}   
h1{ 
    font-size: 60px;
    color: rgb(241, 172, 212);
    text-align: center;
} 
p{   
    font-size: 30px;
    color: rgb(149, 203, 138);
    text-align: justify; 
}
img{  
    width: 300px;
    height: 300px;
    margin: 130px;
    margin-left: 130px;
}
.cabecalho{
    background-color: aquamarine;
    display: flex;
}
.lista_cabecalho{
    display: flex;
    margin-left: 600px;
    list-style: none;
}    
.item_lista_cabecalho{
    padding-left: 30px;
    list-style: none;
    font-size: 30px;
}
        .logo_cabecalho{
            width: 100px;
            height: 100px;
        }
